{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block menu %}
<style>
  .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
  .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container containerMenu">
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbarRadius">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Maxence Tasse</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        {% for menu in menus %}
          <a class="nav-link" href="{{ path(menu.pathName) }}">{{ menu.name }}</a>
        {% endfor %}
        </div>
      </div>
      {% if app.user %}
      <div class="logout navbar-nav">
        <a class="nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
      </div>
      {% else %}
        <div class="logout navbar-nav">
          <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
        </div>
      {% endif  %}
    </div>
  </nav>
</div>
{% block body %}{% endblock %}
{% endblock %}
